<htnml>
    <body>
        <p>LOGIN</p>
        <form class="input" method="POST" action="/">
            <input type="text" placeholder="Enter Firstname" name="fname"><br>
            <input type="text" placeholder="Enter Lastname" name="lname"><br>
            <input type="text" placeholder="Enter Username" name="username"><br>
            <input type="password" placeholder="Enter Password" name="password"><br>
            <button type="submit"> Submit</button>
        </form>
    </body>
</htnml>